language: r

sudo: false

cache: packages

os:
  - linux

jobs:
  include:

    - stage: Run tests
      r: release
      install: true
      script:
        - echo "install.packages(\"icesDatras\")" | R --slave
        - R CMD INSTALL DATRAS
        - cd tests; R --slave < test.R

notifications:
  email:
    on_success: never
    on_failure: never



